/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common style  */
body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    margin: 0;
    box-sizing: border-box
}
.container{
    margin-bottom: 70px;
}

button{
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    background: #E02C6D;
    color: #ffffff;
    border: none;
    align-items: center;
}
button:hover{
    transform: scale(1.1);
    font-size: 16px;
    transition: transform 0.25s ease-in-out, font-size 0.25s ease-in-out;
}

/* navbar */
nav {
	width: 100%;
    position: absolute;
    display: flex;
    z-index: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav button{
    width: 123px;
    height: 44px;
}
nav ul li {
	display: inline-block;
	padding: 0px 10px;
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
}

nav ul li a {
    color: white;
    text-decoration: none;
  }

nav ul li a:hover {
    color: rgb(126, 192, 223);
    text-decoration: none;
  }

nav ul li:hover {
	cursor: pointer;
}


/* banner */

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 677px;
    left: 0px;
    top: 0px;
    background: #2D25A0;
}
.banner:hover img{
    transform: scale(1.3);
    transition: transform 1s ease-in-out;
}
.banner h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #ffffff;
}
.heading{
    margin-right: 102px;
}
.banner-image img{
    width: 556.01px;
    height: 438px;
}

/* players */

.players{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player-row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    margin-bottom: 27px;
}

.player{
    width: 330px;
    height: 474px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
}
.player-image{
    width: 330px;
    height: 256px;
    overflow:hidden;
    position: relative;
}
.player-image img{
    width: 100%;
}
.player:hover img{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}
.player h3{
    font-weight: 700;
    font-size: 28px;
    line-height: 10px;
}
.player p{
    font-size: 16px;
}

/* bottom */

.bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.highlights{
    display: flex;
    margin-right: 0;
    flex-direction: column;

}
.bottom h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 0;
}
.news h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 90px;
}
iframe{
    margin-bottom: 20px;
}
.news-photo-frame{
    width: 567px;
    height: 397px;
    position: relative;
    margin: 10px;
    overflow: hidden;
}
.news-photo-frame h3{
    position: absolute;
    bottom: 0;
    right: 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: whitesmoke;
    text-align: center;
}
.photo-detail{
    position: absolute;
    top: 100px;
    display: none;
    color: whitesmoke;
    text-align: center;
    background-color:rgba(47, 53, 48, 0.637);

}

.news-photo-frame:hover .photo-detail{
    display: block;    
}
.news-photo-frame:hover .news-image{
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
}
.news-image img{
    width: 100%;
}

/* subscriber form */

.subscriber-form {
  padding: 0px 400px;
}

.subscriber-form span{
    color: rgb(230, 29, 29);
}

input[type=email], input[type=text] {
  width: 100%;
  padding: 15px 0px 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
}

input[type=text]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.subscribebtn {
  background-color: #26538d;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 40px;
  border-radius: 5px;
}

.subscribebtn:hover {
  opacity:1;
}

.subscriber-form a {
  color: dodgerblue;
}

/* footer  */

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-bottom: 0;
}

.footer-logo img{
    width: 483.87px;
    height: 110px;
}
.social-icon i{
    width: 32px;
    height: 32px;
    color:#969BAB;
    font-size: 22px;
    display: inline;
    background: rgb(214, 209, 209);
    margin: 0px 7px;
    padding: 10px;
    border-radius: 25px;
}
.social-icon a{
    text-decoration: none;
}
.footer p{
    font-size: 18px;
}

/* Media Queries */

/* Mobile Device */
@media only screen and (max-width: 688px){
    .container{
        width: 100%;
    } 

    nav{
        width: 90%;
        position:absolute;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    

    /* banner */

    .banner{
        display: flex;
        flex-direction: column;
        padding: 15px;
    }
    .banner h1{
        font-weight: 700;
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 30px;
        margin-top: 0;
    }
    .heading{
        margin-top: 112px;
        padding: 16px;
    }
    .banner-image img{
        width: 329px;
        height: 259.17px;
    }
    .banner:hover img{
        transform: scale(1);
        transition: transform 1s ease-in-out;
    }

    /* players */

    .players{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }
    .player-row{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 24px;
        margin-bottom: 27px;
    }

    .player{
        width: 330px;
        height: 474px;
        padding-left: 15px;
        background: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        
    }
    .player-image{
        width: 330px;
        height: 256px;
        overflow:hidden;
        position: relative;
    }
    .player-image img{
        width: 100%;
    }
    .player:hover img{
        transform: scale(1.1);
        transition: transform 0.5s ease-in-out;
    }
    .player h3{
        font-weight: 700;
        font-size: 28px;
        line-height: 10px;
    }
    .player p{
        font-size: 16px;
    }

    /* bottom */

    .bottom{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        width: 100%;
    }
    .highlights{
        display: flex;
        margin-right: 0;
        flex-direction: column;
        padding: 15px;

    }
    .bottom h1{
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 0;
    }
    .news h1{
        font-weight: 700;
        font-size: 48px;
        line-height: 30px;
    }
    iframe{
        margin-bottom: 20px;
        width: 330px;
        
    }
    .news-photo-frame{
        width: 330px;
        height: 597px;
        margin: 10px;
    }
    .news-photo-frame h3{
        bottom: 265px;
        right: 0px;
        padding: 10px;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    .photo-detail{
        top: 300px;
        color: rgb(0, 0, 0);
        text-align: center;
        background: transparent;
        display: block;


    }
    .news-photo-frame:hover .news-image{
        transform: scale(1);
        transition: transform 0.5s ease-in-out;
    }
    .news-image img{
        width: 100%;
    }

    /* subscriber form */

    .subscriber-form {
        padding: 0px 50px;
    }

    /* footer */

    .footer-logo img{
        width: 330px;
        height: 110px;
    }
}

/* Tablet Device */
@media only screen and (min-width: 688px) and (max-width:992px){
.container{
    width: 98%;
}
nav{
    width: 100%;
    position:absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


/* banner */

.banner{
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.banner h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    margin-bottom: 40px;
    margin-top: 0;
}
.heading{
    margin-top: 70px;
    padding: 16px;
}
.banner-image img{
    width: 329px;
    height: 259.17px;
}
.banner:hover img{
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}

/* players */

.players{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding-left:15 px;
}
.player-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px;
    margin-bottom:0;
}

.player{
    width: 330px;
    height: 474px;
    padding-left: 15px;
    margin-bottom: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
}
.player-image{
    width: 330px;
    height: 256px;
    overflow:hidden;
    position: relative;
}
.player-image img{
    width: 100%;
}
.player:hover img{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}
.player h3{
    font-weight: 700;
    font-size: 28px;
    line-height: 10px;
}
.player p{
    font-size: 16px;
}

/* bottom */

.bottom{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:center;
    width: 100%;
}
.highlights{
    display: flex;
    margin-right: 0;
    flex-direction: column;
    padding: 15px;

}
.bottom h1{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0;
}
.news h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 30px;
}
iframe{
    margin-bottom: 20px;
    width: 560px;
}
.news-photo-frame{
    width: 560px;
    height: 597px;
    margin: 10px;
}
.news-photo-frame h3{
    bottom: 130px;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-align: left;
}
.photo-detail{
    top: 435px;
    color: rgb(0, 0, 0);
    text-align: center;
    background: transparent;
    display: block;


}
.news-photo-frame:hover .news-image{
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}
.news-image img{
    width: 100%;
}


/* subscriber form */

.subscriber-form {
    padding: 0px 150px;
  }

/* footer */

.footer-logo img{
    width: 330px;
    height: 110px;
}

}